.privacy {
  @apply mb-12;

  a {
    @apply text-gray-800;
    @apply underline;

    &:hover {
      @apply text-gray-900;
      @apply no-underline;
    }
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    @apply font-medium;
    @apply text-3xl;
    @apply text-gray-700;
    @apply mb-6;
  }

  h3 {
    @apply font-medium;
    @apply text-2xl;
    @apply text-gray-700;
    @apply mb-2;
  }

  h2 + h3,
  p + h3,
  ul + p,
  p + ul,
  ul + h3 {
    @apply mt-6;
  }

  p + p {
    @apply mt-4;
  }

  ul {
    @apply list-inside;
    list-style-type: lower-latin;

    li {
      @apply my-2;
    }

    ul {
      @apply ml-4;
      list-style-type: lower-roman;
    }
  }

  .note {
    @apply text-sm text-gray-500;
  }

  .corona {
    @apply rounded-lg;
    @apply bg-gray-100;
    @apply py-6 px-8;
    @apply mt-6 mb-8;
  }
}
