.landing {
  .contactAdded {
    @apply absolute;
    @apply top-0 left-0 right-0 bottom-0;
    @apply p-6;
    @apply bg-green-600;
    @apply z-50;
    @apply flex items-center;
    @apply text-center;

    .closeButton {
      @apply absolute;
      @apply inline-block;
      @apply text-2xl;
      @apply text-green-100;
      @apply p-4;
      @apply cursor-pointer;
      top: 0.25em;
      right: 0.25em;

      &:hover {
        @apply text-white;
      }
    }

    > div {
      @apply mx-auto mb-20;
      max-width: 340px;
    }

    h2 {
      @apply text-white;
      @apply text-4xl;
    }

    p {
      @apply text-lg;
      @apply text-green-100;
      @apply mt-4;
    }

    .id {
      @apply bg-green-300;
      @apply p-2;
      @apply rounded;
      @apply text-green-800;
      @apply font-semibold text-sm;
      @apply inline-block;
      @apply mt-8;

      @media (min-width: 400px) {
        @apply px-4;
      }
    }
  }

  .data {
    max-width: 560px;
    @apply my-0 mx-auto;

    @media (max-width: 640px) {
      @apply w-full;
    }
  }

  h2 {
    font-family: 'Roboto Slab', serif;
    @apply font-medium;
    @apply text-3xl;
    @apply text-gray-700;
    @apply text-center;

    strong {
      @apply font-bold;
      @apply text-gray-800;
    }
  }

  @media (max-width: 640px) {
    h2 {
      @apply text-2xl;
    }
  }

  form {
    @apply m-24 mt-12 mb-8;
    @apply relative;

    .formDisclaimer {
      @apply absolute;
      top: -13px;
      right: -300px;
      max-width: 280px;
    }

    .formBottomDisclaimer {
      @apply hidden;
    }

    @media (max-width: 1024px) {
      @apply mx-20;

      .formDisclaimer {
        @apply hidden;
      }

      .formBottomDisclaimer {
        @apply block;
      }
    }

    @media (max-width: 640px) {
      @apply mx-0 mt-8;
    }
  }

  .autocompleteInput {
    @apply relative;

    .indicator {
      @apply absolute;
      @apply rounded;
      @apply bg-gray-300;
      width: 6px;
      height: 6px;
      top: 0.45em;
      right: 0.4em;

      &.success {
        @apply bg-green-500;
      }

      &.progress {
        @apply bg-orange-400;
      }
    }
  }

  .autocomplete {
    @apply relative;
    @apply left-0 right-0;
    top: -5px;

    ul {
      @apply relative;
      @apply bg-white;
      @apply border border-gray-400;
      @apply rounded-b;
      @apply border-t-0;
      @apply pt-1;
      @apply overflow-hidden;

      li {
        @apply py-2 px-3;
        @apply cursor-pointer;
        @apply border-t border-gray-200;
        @apply leading-snug;
        z-index: 1;

        .title {
          @apply text-sm font-semibold;
        }

        .address {
          @apply text-gray-600 text-xs;
        }

        &:hover {
          @apply bg-gray-100;
        }
      }
    }
  }
}
