.landing {
  max-width: 560px;
  margin: 0 auto;

  h2 {
    font-family: 'Roboto Slab', serif;
    @apply font-medium;
    @apply text-3xl;
    @apply text-gray-700;
    @apply text-center;

    strong {
      @apply font-bold;
      @apply text-gray-800;
    }
  }

  @media (max-width: 640px) {
    @apply w-full;

    h2 {
      @apply text-2xl;
    }
  }

  form {
    @apply m-16 mt-12;

    @media (max-width: 640px) {
      @apply mx-0 mt-8;
    }
  }

  .disclaimer {
    @apply mt-12;
    @apply p-4;
    @apply rounded;
    @apply bg-indigo-100;
    @apply text-sm;

    strong {
      @apply font-semibold;
    }
  }
}
