.businessDetail {
  h4 {
    @apply -mt-3;
    @apply text-gray-600 text-base font-medium;
  }

  h3 {
    @apply flex items-center;
  }

  .status {
    @apply mt-1;
    @apply ml-3;
    @apply px-2 py-1;
    @apply inline-block;
    @apply text-xs leading-tight font-semibold;
    @apply rounded;
    @apply uppercase;
    @apply text-gray-700 bg-gray-100;

    &.trial {
      @apply text-blue-700 bg-blue-100;
    }

    &.active {
      @apply text-green-700 bg-green-100;
    }

    &.expired {
      @apply text-orange-700 bg-orange-100;
    }
  }

  .exportButtons {
    @apply -m-1;
    @apply mt-4;
    max-width: 1280px;

    a {
      @apply cursor-pointer;
      @apply text-xs font-bold;
      @apply uppercase;
      @apply m-1;
      @apply py-4 px-3;
      @apply rounded;
      @apply no-underline;
      @apply text-white;
      @apply bg-gray-500;
      @apply transition ease-in-out duration-150;
      @apply leading-relaxed;
      @apply text-center;
      @apply inline-block;
      @apply w-full;
      max-width: 165px;

      @media (max-width: 480px) {
        @apply max-w-full w-auto;
        @apply block;
      }

      &:hover {
        @apply bg-gray-600;
      }
    }
  }

  .notice {
    @apply mt-8;
    @apply p-3;
    @apply border border-gray-200;
    @apply rounded;
    @apply bg-gray-100;
    @apply inline-block;
    @apply text-sm;
  }

  .buyProduct {
    @apply mt-4;
    @apply flex items-center;
    max-width: 400px;

    .select {
      @apply flex-1;
      @apply mr-3;
    }
  }
}
