@tailwind base;
@tailwind components;

:root {
  --font-size: 16px;
  --container-width: 960px;
}

html {
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

html,
body,
#__next {
  @apply min-h-full h-full;
}

#__next {
  @apply h-auto;
  @apply flex flex-col;
}

body {
  @apply text-base text-gray-700;
  @apply leading-relaxed antialiased;

  strong {
    @apply font-semibold;
  }

  #nprogress {
    @apply pointer-events-none;

    .bar {
      @apply fixed top-0 left-0;
      @apply z-50;
      @apply w-full;
      @apply bg-gray-400;
      height: 2px;
    }
  }
}

@tailwind utilities;
