.layout {
  @apply bg-white;
  @apply flex flex-col flex-1;

  &.hideOverflow {
    @apply overflow-hidden;
    @apply absolute;
    @apply top-0 left-0 right-0 bottom-0;
  }

  img.twemoji {
    @apply inline-block;
    height: 1em;
    width: 1em;
    vertical-align: -0.15em;
    margin: 0px 0.05em 0px 0.1em;
  }
}
