.header {
  @apply py-6 px-8;
  @apply flex items-center;
  @apply flex-shrink-0;

  &.withBackground {
    @apply bg-gray-100;
    @apply border-b border-gray-200;
  }

  @media (max-width: 640px) {
    @apply py-4 px-6;
    @apply border-b border-gray-200;
    @apply mb-4;
  }

  div {
    @apply flex-1;
  }

  .logo {
    @apply no-underline;
    @apply inline-flex items-center;
    @apply text-gray-800;
    font-family: 'Roboto Slab', serif;

    h1 {
      @apply text-2xl;
      @apply ml-5;
      @apply leading-none;
    }

    img {
      @apply w-10 h-10;
      @apply rounded-sm;
      @apply overflow-hidden;
    }

    @media (max-width: 640px) {
      h1 {
        @apply text-xl;
        @apply ml-4;
      }

      img {
        @apply w-8 h-8;
      }
    }
  }

  nav {
    a:first-child {
      @apply cursor-pointer;
      @apply font-semibold;
      @apply py-2 px-4;
      @apply leading-snug;
      @apply inline-flex;
      @apply items-center;
      @apply m-1 mr-2;
      @apply no-underline;
      @apply text-gray-500;
      @apply transition ease-in-out duration-150;

      @media (max-width: 480px) {
        @apply hidden;
      }

      @media (max-width: 640px) {
        @apply text-sm;
      }

      &:hover {
        @apply text-gray-600;
      }
    }

    a:last-child {
      @apply cursor-pointer;
      @apply font-semibold;
      @apply py-2 px-4;
      @apply leading-snug;
      @apply rounded;
      @apply inline-flex;
      @apply items-center;
      @apply m-1;
      @apply no-underline;
      @apply text-white;
      @apply bg-indigo-500;
      @apply transition ease-in-out duration-150;

      @media (max-width: 640px) {
        @apply text-sm;
      }

      &:hover {
        @apply bg-indigo-600;
      }
    }
  }
}
